
.button-control {
    background: none;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: bold;
    padding: 10px 30px;
  }
  
  .button-control:hover {
    color: red;
  }
  