.meals {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  border-bottom: 3px solid rgb(247, 102, 5);
}

.meals h2 {
  margin: 0 0 0.25rem 0;
}

.meals form {
  display: flex;
  margin: 0px;
}

.price {
  margin-top: 0.25rem;
  font-weight: bold;
  color: #060300;
  font-size: 1.25rem;
}

/* .image_control {
  display: flex;
  justify-content: flex-end;
  width: 10rem;
 
  height: 10rem;
  margin-right: 10px;
  
} */
.meals img {
  display: flex;
  justify-content: flex-end;
  border-radius: 50px;
  height: 10rem;
  width: 10rem;
  margin-right: 10px;
  padding-bottom: 5px;
}
